* {
    box-sizing: border-box;
} 
a {
    color: inherit;
    text-decoration: none;
}
.mySlides {
    display: none;
}
img {
    vertical-align: middle;
}
ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
:root {
    --color-gray: #f1f1f1;    
}
body {       
    background-image: url(../PNG2/1.jpg);
    background-repeat: no-repeat;  
    background-size: cover;
    font-family: 'Helvetica;'
  }
.button {
    transition-property: background-color, color;
    transition-duration: .3s;
    transition-timing-function: ease;
}
.all-container {
    max-width: 1920px;
    margin: 0 auto;
}
.item {
    transition-property: background-color, color;
    transition-duration: .3s;
    transition-timing-function: ease;
}
.link:nth-child(-n+10) {
    margin-right: 23px;
}
.link:nth-child(4n) {
    margin-right: 0;
}
.input:hover {
    background-color: #B0E0E6;
    color: white;
}
.link:hover {
    background-color: #00BFFF;
}
.active-link:hover {
    transform: translateY(1px);
    color: #00BFFF;
    cursor: pointer;
}
.list:hover {
    background-color: #00BFFF;
}
.logo:hover {
    transform: translateY(20px);
}
.button:hover {
    color: #DAA520;
    border: 1px solid #DAA520;
}
.button:active {
    color: #1E90FF;
    border: 1px solid #1E90FF;
    transform: translateY(10px);
}
.button:focus {
    color: #1E90FF;
    border: 1px solid #1E90FF;
}

/*header*/

.header-ct {
    background-color: white;
}
.header-left {
    background-image: url(../PNG/logo.png);
    background-repeat: no-repeat;
    width: 90px;
    height: 60px;
    background-size: contain;
}
.header-phone {
    padding-left: 50px;
    color: #666666;
    font-size: 20px;
}
.header-button {
    margin-top: 20px;
    margin-bottom: 20px;
}
.header-nav-container {
    display: flex;
    flex-direction: row;
    height: 100%;
}
.header-nav-list {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: 75px;
}
.header-nav-item {
    display: flex;
    flex-direction: row;
}
.header-nav-item:not(:first-child) {
    padding-left: 30px;
}
.header-nav-link {
    font-size: 16px;
}
.header_btn { 
    padding: 12px 24px;
    font-size: 25px;
    color: white;
    background-color: #DAA520;
    border: 1px solid #DAA520;
    margin-left: 200px;
    display: block;
}
.header_btn:hover {
    background-color: #1E90FF;
    border: 1px solid #1E90FF;
}
.header_btn:active {
    background-color: #1E90FF;
    border: 1px solid #1E90FF;
}
.header_btn:focus {
    background-color: #DAA520;
    border: 1px solid #DAA520;
}
.active-link:hover {
    transform: translateY(1px);
    color: #1E90FF;
    cursor: pointer;
    transition: color .3s ease;
}
.active-link:active {
    color: #1E90FF;
}

/*main*/

.main_cont {
    max-width: 1920px;
}
.main_head {
    padding-top: 75px;
    padding-left: 75px;
    color: white;
    font-size: 38px;
    line-height: 1.5;
    font-weight: 800;
}
.main_text {
    color: white;
    font-size: 25px;
    line-height: 1.5;
    padding-top: 35px;
    padding-left: 75px;
}

/* mutual */

.mutual_cont {
    max-width: 1920px;
    margin-left: 75px;
    margin-right: 75px;
    margin-top: 75px;
}
.mutual_main {
    text-transform: uppercase;
    color: white;
    font-size: 38px;
    line-height: 1.5;
    font-weight: 800;
}
.mutual_all_block {
    margin-right: 400px;
    display: flex;
    margin-top: 35px;
}
.mutual_block:not(:last-child) {
    margin-right: 50px;
}
.mutual_first_text {
    color: white;
    font-size: 20px;
    line-height: 1.5;
    font-weight: 500;
}
.mutual_second_text {
    color: white;
    font-size: 14px;
    line-height: 1.5;
    font-weight: 300;
}
.mutual_flex {
    max-width: 1920px;
    margin-top: 35px;
    display: flex;
    flex-direction: row;
}
.mutual_flex_list {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.mutual_list_item {
    color: black;
    font-size: 20px;
    width: 300px;
    height: 150px;
    padding-top: 35px;
    text-align: center;
    padding-right: 35px;
    padding-left: 35px;
    border: 1px solid white;
    background-color: white;
}
.mutual_list_item:not(:last-child) {
    margin-right: 35px;
}
.mutual_flex_button {
    padding-top: 15px;
    text-align: center;
}
.mutual_flex_block_link {
    padding: 15px 30px;
    color: white;
    border: 1px solid #1E90FF;
    font-size: 18px;
    border-radius: 20px;
    background: #1E90FF;
    display: none;
}
.mutual_list_item:hover p {
    display: none;
}
.mutual_list_item:hover a {
    display: block;
}

/* iis */

.iis_cont {
    max-width: 1920px;
    margin-left: 75px;
    margin-right: 75px;
    margin-top: 75px;
}
.iis_main {
    text-transform: uppercase;
    color: white;
    font-size: 38px;
    line-height: 1.5;
    font-weight: 800;
}
.iis_all_block {
    margin-right: 400px;
    display: flex;
    margin-top: 35px;
}
.iis_block:not(:last-child) {
    margin-right: 50px;
}
.iis_first_text {
    color: white;
    font-size: 20px;
    line-height: 1.5;
    font-weight: 500;
}
.iis_second_text {
    color: white;
    font-size: 14px;
    line-height: 1.5;
    font-weight: 300;
}
.iis_flex {
    max-width: 1920px;
    display: flex;
    flex-wrap: wrap;
}
.iis_flex_block:not(:last-child) {
    margin-right: 35px;
}
.iis_flex_block {
    width: 300px;
    height: 300px;
    margin-top: 35px;
    border: 1px solid white;
    background-color: white;
}
.iis_flex_block_number {
    padding-top: 25px;
    padding-left: 25px;
    color: #1E90FF;
    font-size: 30px;
    line-height: 1.5;
    font-weight: 500;
}
.iis_flex_block_text {
    padding-left: 25px;
    color: black;
    font-size: 14px;
    line-height: 1.5;
    font-weight: 300;
}
.iis_flex_block_text_second {
    padding-top: 15px;
    padding-left: 25px;
    color: black;
    font-size: 20px;
    line-height: 1.5;
    font-weight: 500;
}
.iis_flex_block_text_third {
    padding-top: 5px;
    padding-left: 25px;
    color: black;
    font-size: 14px;
    line-height: 1.5;
    font-weight: 300;
}
.iis_flex_block_link {
    padding: 15px 30px;
    color: white;
    border: 1px solid #1E90FF;
    font-size: 18px;
    border-radius: 20px;
    background: #1E90FF;
    display: none;
}
.iis_flex_button {
    padding-top: 30px;
    margin-left: 50px;
    margin-right: 50px;
    text-align: center;
}
.iis_flex_block:hover p {
    display: none;
}
.iis_flex_block:hover a {
    display: block;
    color:white;
    font-size: 20px;
}

/* product */

.product_cont {
    max-width: 1920px;
    margin-left: 75px;
    margin-right: 75px;
    margin-top: 75px;
}
.product_main {
    text-transform: uppercase;
    color: white;
    font-size: 38px;
    line-height: 1.5;
    font-weight: 800;
}
.product_all_block {
    margin-right: 400px;
    display: flex;
    margin-top: 35px;
}
.product_block:not(:last-child) {
    margin-right: 50px;
}
.product_first_text {
    color: white;
    font-size: 20px;
    line-height: 1.5;
    font-weight: 500;
}
.product_second_text {
    color: white;
    font-size: 14px;
    line-height: 1.5;
    font-weight: 300;
}
.product_flex {
    max-width: 1920px;
    display: flex;
    flex-wrap: wrap;
}
.product_flex_block:not(:last-child) {
    margin-right: 35px;
}
.product_flex_block {
    width: 300px;
    height: 300px;
    margin-top: 35px;
    border: 1px solid white;
    background-color: white;
}
.flex_button {
    margin-top: 30px;
    margin-left: 50px;
    margin-right: 50px;
    text-align: center;
}
.product_flex_block_link {
    padding: 15px 30px;
    color: white;
    border: 1px solid #1E90FF;
    font-size: 18px;
    border-radius: 20px;
    background: #1E90FF;
    display: none;
}
.product_flex_block:hover a {
    display: block;
    color:white;
    font-size: 20px;
}
.product_flex_block:hover p {
    display: none;
}
.product_flex_block_number {
    padding-top: 25px;
    padding-left: 25px;
    color: #1E90FF;
    font-size: 30px;
    line-height: 1.5;
    font-weight: 500;
}
.product_flex_block_text {
    padding-left: 25px;
    color: black;
    font-size: 14px;
    line-height: 1.5;
    font-weight: 300;
}
.product_flex_block_text_second {
    padding-top: 15px;
    padding-left: 25px;
    color: black;
    font-size: 20px;
    line-height: 1.5;
    font-weight: 500;
}
.product_flex_block_text_third {
    padding-top: 5px;
    padding-left: 25px;
    padding-right: 25px;
    color: black;
    font-size: 14px;
    line-height: 1.5;
    font-weight: 300;
}

/*footer*/

.footer-cont {
    margin: 0 auto;
    max-width: 1920px;
    margin-top: 75px;
    background-color: #2F4F4F;
    display: flex;
    height: 600px;
}
.footer-left {
    display: flex;
    flex-direction: column;
    margin-left: 75px;
}
.footer__flex__column {
    width: 251px;
}
.footer__link__column {
    color: white;
    font-size: 18px;
    font-weight: 600;
    line-height: 36px;
    cursor: pointer;
}
.footer__list__column {
    padding-top: 20px;
}
.footer-icon {
    background-image: url(../PNG/logo.png);
    background-repeat: no-repeat;
    margin-top: 50px;
    width: 90px;
    height: 60px;
    background-size: contain;
}
.footer__icons__row {
    display: flex;
    flex-direction: row;
    margin-top: 60px;
}
.footer__items {
    display: flex;
    flex-direction: row;
    cursor: pointer;
}
.footer__item1__icon {
    width: 60px;
    height: 60px;
    color: black;
}
.footer__item2__icon {
    width: 60px;
    height: 60px;
    margin-left: 25px;
    color: black;
}
.footer__item3__icon {
    width: 60px;
    height: 60px;
    margin-left: 25px;
    color: black;
}
.footer__center {
    margin-left: 100px;
}
.footer__center__main {
    font-size: 48px;
    font-weight: normal;
    color: white;
    margin-top: 50px;
    height: 51px;
}
.form-contact {
    margin-top: 25px;
}
.footer-form {
    margin-top: 35px;
}
.footer-form__input {
    width: 500px;
    height: 50px;
    margin-top: 25px;
    padding-left: 24px;
    padding-top: 14px;
    background-color: white;
    color: #CACACA;
    font-size: 16px;
    font-weight: normal;
    border: 1px solid #414141;
}
.footer-center__flex {
    display: flex;
    flex-direction: row;
}
.footer__center__button {
    background-color: #DAA520;
    font-size: 16px;
    font-weight: bold;
    color: white;
    border: 1px solid #DAA520;
    width: 269px;
    height: 58px;
    margin-top: 32px;
}
.footer__center__button:hover {
    background-color: #1E90FF;
    border: 1px solid #1E90FF;
}
.footer__center__button:active {
    background-color: #1E90FF;
    border: 1px solid #1E90FF;
}
.footer__center__button:focus {
    background-color: #DAA520;
    border: 1px solid #DAA520;
}
.footer__center__svg {
    background-image: url(../SVG/Check.svg);
    background-repeat: no-repeat;
}
.footer__center__check {
    margin-top: 56px;
    margin-left: 22px;
}
.footer__center__text {
    color: white;
    margin-top: 54px;
    margin-left: 5px;
    font-weight: normal;
}
.footer-right {
    margin-top: 150px;
    margin-right: 75px;
    margin-left: 100px;
}
.footer-right__text {
    color: white;
    font-size: 16px;
    font-weight: normal;
    line-height: 32px;
}
.footer__link__column:hover {
    color: #DAA520;
}
.footer__link__column:focus {
    outline: 2px solid #DAA520;
}
.footer__link__column:active {
    color: #DAA520;
}
.footer__item:hover svg path {
    fill: #DAA520;
}
.footer__item:active svg path {
    fill: #DAA520;
}
.footer__item:focus svg path {
    outline: 1px solid #7B61FF;
}
.footer-form__input:hover {
    background-color: #DCDCDC;
}
.footer-form__input:focus {
    background-color: #DCDCDC;
}
.footer-form__input:active {
    background-color: #DCDCDC;
}

@font-face {
    font-family: 'Helvetica';
    src: url('../fonts/HelveticaNeueCyr-Bold.woff2') format('woff2'),
      url('../fonts/HelveticaNeueCyr-Bold.woff') format('woff');
    font-display: swap;
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Helvetica';
    src: url('../fonts/HelveticaNeueCyr-Light.woff2') format('woff2'),
      url('../fonts/HelveticaNeueCyr-Light.woff') format('woff');
    font-display: swap;
    font-weight: 300;
    font-style: normal;
}
@font-face {
    font-family: 'Helvetica';
    src: url('../fonts/HelveticaNeueCyr-Medium.woff2') format('woff2'),
      url('../fonts/HelveticaNeueCyr-Medium.woff') format('woff');
    font-display: swap;
    font-weight: 500;
    font-style: normal;
}
@font-face {
    font-family: 'Helvetica';
    src: url('../fonts/Helvetica.woff2') format('woff2'),
      url('../fonts/Helvetica.woff') format('woff');
    font-display: swap;
    font-weight: 400;
    font-style: normal;
}

  




































@font-face {
    font-family: 'Muller';
    src: url('../fonts/MullerBold.woff2') format('woff2'),
      url('../fonts/MullerBold.woff') format('woff');
    font-display: swap;
    font-weight: 700;
    font-style: normal;
}
@font-face {
    font-family: 'Muller';
    src: url('../fonts/MullerLight.woff2') format('woff2'),
      url('../fonts/MullerLight.woff') format('woff');
    font-display: swap;
    font-weight: 300;
    font-style: normal;
}
@font-face {
    font-family: 'Muller';
    src: url('../fonts/MullerMedium.woff2') format('woff2'),
      url('../fonts/MullerMedium.woff') format('woff');
    font-display: swap;
    font-weight: 500;
    font-style: normal;
}
@font-face {
    font-family: 'Muller';
    src: url('../fonts/MullerRegular.woff2') format('woff2'),
      url('../fonts/MullerRegular.woff') format('woff');
    font-display: swap;
    font-weight: 400;
    font-style: normal;
}
 