a {
    color: inherit;
    text-decoration: none;
}
* {
    box-sizing: border-box;
}
.mySlides {
    display: none;
}

img {
    vertical-align: middle;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
:root {
    --color-gray: #f1f1f1;    
}
body {
    background-color: #F0F8FF;
    font-family: 'Helvetica;''
}
.all-container {
    max-width: 1920px;
    margin: 0 auto;
}
.item {
    transition-property: background-color, color;
    transition-duration: .3s;
    transition-timing-function: ease;
}
.button {
    transition-property: background-color, color;
    transition-duration: .3s;
    transition-timing-function: ease;
}
.link:nth-child(-n+10) {
    margin-right: 23px;
}
.link:nth-child(4n) {
    margin-right: 0;
}
.active-link:hover {
    transform: translateY(1px);
    color: #00BFFF;
    cursor: pointer;
}
.input:hover {
    background-color: #B0E0E6;
    color: white;
}
.link:hover {
    background-color: #00BFFF;
}
.list:hover {
    background-color: #00BFFF;
}
.logo:hover {
    transform: translateY(20px);
}
.button:hover {
    color: #DAA520;
    border: 1px solid #DAA520;
}
.button:active {
    transform: translateY(10px);
    color: #1E90FF;
    border: 1px solid #1E90FF;
}
.button:focus {
    color: #1E90FF;
    border: 1px solid #1E90FF;
}

/*header*/


.header-ct {
    background-color: white;
    max-width: 1920px;
    display: flex;
    flex-direction: row;
    margin-left: 75px;
}

.header-left {
    background-image: url(../PNG/logo.png);
    background-repeat: no-repeat;
    width: 90px;
    height: 60px;
    background-size: contain;
    margin-top: 15px;
}
.header-phone {
    padding-left: 50px;
    color: #666666;
    font-size: 20px;
}
.header-flex {
    display: flex;
    flex-direction: row;
}
.burger_svg {
    background-image: url(../SVG/burger.svg);
    background-repeat: no-repeat;
    width: 30px;
    height: 30px;
    display: none;
}
.header-button {
    margin-top: 20px;
    margin-bottom: 20px;
}
.header-nav-container {
    display: flex;
    flex-direction: row;
    height: 100%;
}
.header-nav-list {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: 75px;
}
.header-nav-item {
    display: flex;
    flex-direction: row;
}
.header-nav-item:not(:first-child) {
    padding-left: 30px;
}
.header-nav-link {
    font-size: 16px;
}
.header_btn { 
    padding: 12px 24px;
    font-size: 25px;
    color: white;
    background-color: #DAA520;
    border: 1px solid #DAA520;
    margin-left: 100px;
    display: block;
}
.header_btn:hover {
    background-color: #1E90FF;
    border: 1px solid #1E90FF;
}
.header_btn:active {
    background-color: #1E90FF;
    border: 1px solid #1E90FF;
}
.header_btn:focus {
    background-color: #DAA520;
    border: 1px solid #DAA520;
}
.active-link:hover {
    transform: translateY(1px);
    color: #1E90FF;
    cursor: pointer;
    transition: color .3s ease;
}
.active-link:active {
    color: #1E90FF;
}

/*service*/

.service-cont {
    max-width: 1920px;
    margin: 0px;
}
.service-img {
    background-image: url(../PNG/1.jpg);
    background-repeat: no-repeat;
    max-width: 1920px;
    height: 720px;
    margin-left: 75px;
    margin-right: 75px;
}
.service-main {
    padding-top: 100px;
    padding-left: 75px;
    padding-right: 500px;
    color: white;
    font-size: 38px;
    line-height: 1.5;
    font-weight: 800;
}
.service-text {
    color: white;
    font-size: 25px;
    line-height: 1.5;
    padding-top: 40px;
    padding-left: 75px;
    padding-right: 600px;
}
.service_button {
    padding-top: 100px;
    padding-left: 75px;
}
.servive_btn {
    padding: 15px 30px;
    color: white;
    border: 1px solid white;
    font-size: 18px;
    background: transparent;
}

/*profit*/

.profit-cont {
    max-width: 1920px;
    background-color: white;
}
.profit__main {
    font-size: 38px;
    font-weight: 900;
    margin-left: 75px;
    padding-top: 75px;
}
.profit__text {
    font-size: 16px;
    line-height: 1.8;
    margin-left: 75px;
    margin-top: 25px;
    margin-right: 500px;
}
.profit__button {
    margin-top: 75px;
    margin-left: 75px;
    padding-bottom: 75px;
}
.profit__btn {
    padding: 15px 30px;
    color: black;
    border: 1px solid black;
    font-size: 18px;
    background: transparent;
}

/*slider*/

                
.slider-container {
    max-width: 1920px;
    margin-left: 75px;
    margin-right: 75px;
    position: relative;
}
.slider_text {
    color: #DAA520;
    font-size: 50px;
    padding: 8px 12px;
    position: absolute;
    top: 500px;
    text-align: center;
    width: 100%;
}
.text-end {
    color: white;
    font-size: 50px;
    padding: 8px 12px;
    position: absolute;
    top: 500px;
    text-align: center;
    width: 100%;
}
.slider__link {
    padding: 15px 30px;
    color: white;
    border: 3px solid white;
    font-size: 50px;
    background: transparent;
}

.dot {
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: none;
    transition: background-color 0.6s ease;
                  }
                  
.fade {
    border: 10px solid black;
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
}
                  
@-webkit-keyframes fade {
    from {opacity: .4} 
    to {opacity: 1}
}
                  
@keyframes fade {
    from {opacity: .4} 
    to {opacity: 1}
}
                
@media only screen and (max-width: 300px) {
.text {font-size: 11px}
} 

/*solutions*/

.solutions__cont {
    max-width: 1920px;
    background-color: #F0F8FF;
}
.solutions__main {
    font-size: 38px;
    font-weight: 900;
    padding-top: 75px;
    margin-left: 75px;
}
.solutions__text {
    font-size: 16px;
    line-height: 1.8;
    margin-left: 75px;
    margin-top: 25px;
    margin-right: 500px;
}
.solutions__button {
    margin-top: 75px;
    margin-left: 75px;
}
.solutions__btn {
    padding: 15px 30px;
    color: black;
    border: 1px solid black;
    font-size: 18px;
    background: transparent;
}
.solutiins__list__ct {
    max-width: 1920px;
}
.solutiins-list {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-left: 75px;
    margin-right: 75px;
    padding-top: 75px;
}
.solutions__list__item {
    border: 1px solid #F0F8FF;
    color: white;
    width: 500px;
    height: 300px;
    background-image: url(../PNG/decision.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
.solutions__list__item:not(:last-child) {
    margin-right: 25px;
}
.solutions__item__text {
    display: none;
}
.solutions__list__item:hover p {
    display: block;
    padding-left: 25px;
    padding-top: 50px;
    font-size: 20px;
}
.solutions__list__item:hover h3 {
    display: none;
}
.item1:hover {
    color: white;
    background-image: url(../PNG/decision1.jpg);
    transition: all 1s ease;
}
.item2:hover {
    color: white;
    background-image: url(../PNG/decision2.jpg);
    transition: all 1s ease;
}
.item3:hover {
    color: white;
    background-image: url(../PNG/decision3.jpg);
    transition: all 1s ease;
}

.solutions__item__main {
    font-size: 20px;
    font-weight: 900;
    padding-left: 25px;
    padding-top: 50px;
}
.solutions__item__text {
    font-size: 16px;
    padding-left: 25px;
    padding-top: 30px;
    line-height: 1.8;
}

/*lerning*/

.learning-cont {
    width: 1920px;
}
.learning-main {
    padding-top: 75px;
    margin-left: 75px;
    font-size: 38px;
    font-weight: 900;
}
.learning-text {
    font-size: 16px;
    line-height: 1.8;
    margin-left: 75px;
    margin-top: 25px;
    margin-right: 500px;
}
.learning__list__ct {
    max-width: 1920px;
}
.learning__list {
    display: flex;
    flex-direction: row;
    margin-left: 75px;
    margin-right: 75px;
}
.learning-list-item {
    width: 800px;
}
.learning1 {
    background-image: url(../PNG/learning1.jpg);
    background-repeat: no-repeat;
    background-size: contain;
}
.learning2 {
    background-image: url(../PNG/learning2.jpg);
    background-repeat: no-repeat;
    background-size: contain;
}
.learning3 {
    background-image: url(../PNG/learning3.jpg);
    background-repeat: no-repeat;
    background-size: contain;
}
.learning4 {
    background-image: url(../PNG/learning4.jpg);
    background-repeat: no-repeat;
    background-size: contain;
}

/*Calculator*/

.calc {
    max-width: 1920px;
    margin-left: 75px;
    margin-right: 75px;
    margin-top: 75px;
}
.calc-main {
    font-size: 38px;
    font-weight: 300;
}
.calc-main-second {
    font-size: 38px;
    font-weight: 300;
    margin-top: 35px;
}
.calc-main-third {
    font-size: 38px;
    font-weight: 300;
    margin-top: 35px;
}
.calc-input {
    background-color: #F0F8FF;
    margin-top: 35px;
}
select {-webkit-appearance: none;
     -moz-appearance: none; 
    appearance: none; 
    border: 1px solid black;
    font-size: 30px;
    margin-top: 35px;
}
.form-result {
    padding-top: 35px;
    font-size: 20px;
}
.calc-green {
    color: green;
}
input[type='number'] {
    -moz-appearance: textfield;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
}
select {
    -webkit-appearance: none; 
    -moz-appearance: none; 
    appearance: none; border: 
    1px solid black;
}
select:active {
  border: transparent;
}
input:hover {
  border: 1px solid white;
}
input:active {
  border: 1px solid white;
}
input:focus {
  border: 1px solid white;
}
.form-flex {
    max-width: 1920px;
}
.calc-input {
    border: transparent;
    border: 1px solid white;
    width: 150px;
    height: 50px;
    font-size: 20px;
}
.calc-input:active {
    border: transparent;
}
select {
    width: 300px;
    height: 70px;
    text-align: center;
    border: #F0F8FF;
}
.calc-option {
    margin-top: 100px;
}
.select-text {
    text-align: center;
    margin-top: 50px;
}
#diagram td {
    vertical-align: bottom;
    text-align: center;
    padding: 10px;
}
#diagram div {
    margin: auto;
}

/*form*/

.form-end-block {
    display: flex;
    flex-direction: column;
}
.form-end {
    margin-top: 75px;
    margin-left: 75px;
}
.form-end-main {
    font-size: 40px;
    margin-bottom: 35px;
    font-weight: 700;
}
.form-end-input {
    width: 400px;
    height: 70px;
    margin-bottom: 20px;
    background-color: white;
    border: 1px solid white;
    font-size: 20px;
    padding-left: 20px;
    color: #a7a7a7;
}
.form-end-button {
    margin-top: 35px;
}
.form-end-btn {
    width: 400px;
    height: 70px;
    background-color: #cc9933;
    font-size: 20px;
    color: white;
    font-weight: bold;
    border: 1px solid #cc9933;
}

/*start*/

.start__all {
    padding-bottom: 75px;
}
.start-cont {
    margin-left: 75px;
    margin-right: 75px;
    margin-top: 75px;
    border: 1px solid #F5F5DC;
    border-radius: 50px;
    background-color: white;
}
.section-start {
    font-size: 38px;
    font-weight: 800;
}
.start__list {
    display: flex;
    justify-content: space-between;
    margin-left: 75px;
    margin-right: 75px;
    margin-top: 75px;
}
.start__btn {
    display: inline-block;
    width: 300px;
    height: 300px;
    border: 1px solid grey;
}
.start__section__flex {
    padding-top: 50px;
    display: flex;
    flex-direction: row;
}
.start__left {
    display: flex;
    flex-direction: column;
    width: 50%;
    margin-left: 50px;
}
.start__right {
    max-width: 50%;
    margin-left: 50px;
    margin-right: 50px;
    margin-bottom: 50px;
}
.first {
    margin-top: 35px;
}
.flex__item:not(:last-child) {
    padding-bottom: 35px;
}
.start__section__flex {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

/*Аккордеон*/

.accord_container {
    max-width: 700px;
    margin: 0 auto;
    padding-top: 20px;
  }
.accord_str {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 20px 30px;
    background-color: white;
    border-bottom: 1px solid black;
    font-size: 25px;
    color: black;
    border-radius: 4px;
    font-family: 'Muller;';
    font-weight: 500;
    cursor: pointer;
    width: 1000px;
    position: relative;
    padding-bottom: 5px;
}
.panel-title {
    font-family: 'Muller;';
    font-weight: 500;
}
.accord-icon {
      padding-bottom: 10px;
}
.green:hover {
    color: green;
    border-top: 1px solid green;
    border-bottom: 1px solid green;
}
.green:hover span svg ellipse {
    fill: green;
}
.green:hover span svg path {
    fill: white;
}
.blue:hover {
    color: #00BFFF;
    border-top: 1px solid #00BFFF;
    border-bottom: 1px solid #00BFFF;
}
.blue:hover span svg ellipse {
    fill: #00BFFF;
}
.blue:hover span svg path {
    fill: white;
}
.pink:hover {
    color: #FF1493;
    border-top: 1px solid #FF1493;
    border-bottom: 1px solid #FF1493;
}
  .pink:hover span svg ellipse {
    fill: #FF1493;
}
.pink:hover span svg path {
    fill: white;
}
.green-text {
    color: green;
    padding-left: 150px;
    font-weight: 500;
}
.blue-text {
    color: #00BFFF;
    padding-left: 150px;
    font-weight: 500;
}
.pink-text {
    color: #FF1493;
    padding-left: 150px;
    font-weight: 500;
}
.panel-body {
    padding: 50px;
    width: 1000px;
    font-size: 20px;
    line-height: 1.8;
    border-bottom: 1px solid Goldenrod;
    color: black;
    display: none;
    background: white;
}
.text-span {
    color: black;
    padding-left: 150px;
    font-weight: 300;
}
.number1 {
    background-image: url(../PNG/ac1.png);
    background-repeat: no-repeat;
    background-position-x: 50px;
    background-position-y: 50px;
    background-size: 100px;
}
.number2 {
    background-image: url(../PNG/ac2.png);
    background-repeat: no-repeat;
    background-position-x: 50px;
    background-position-y: 30px;
    background-size: 100px;
}
.number3 {
    background-image: url(../PNG/ac3.png);
    background-repeat: no-repeat;
    background-position-x: 50px;
    background-position-y: 30px;
    background-size: 100px;
}
.panel-active {
    margin-bottom: 0;
    border-bottom: 0;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}
.active {
    display: block;
}
  
.start__right__text {
    font-size: 20px;
    line-height: 1.8;
}
.start__link {
    color: #0000FF;
    font-size: 25px;
}
.text_logo {
    color: Goldenrod;
    font-size: 25px;
}

/*footer*/

.footer-cont {
    margin: 0 auto;
    max-width: 1920px;
    margin-top: 75px;
    background-color: #2F4F4F;
    display: flex;
    height: 600px;
}
.footer-left {
    display: flex;
    flex-direction: column;
    margin-left: 75px;
}
.footer__flex__column {
    width: 251px;
}
.footer__link__column {
    color: white;
    font-size: 18px;
    font-weight: 600;
    line-height: 36px;
    cursor: pointer;
}
.footer__link__column:hover {
    color: #DAA520;
}
.footer__link__column:focus {
    outline: 2px solid #DAA520;
}
.footer__link__column:active {
    color: #DAA520;
}
.footer__list__column {
    padding-top: 20px;
}
.footer-icon {
    background-image: url(../PNG/logo.png);
    background-repeat: no-repeat;
    margin-top: 50px;
    width: 90px;
    height: 60px;
    background-size: contain;
}
.footer__icons__row {
    display: flex;
    flex-direction: row;
    margin-top: 60px;
}
.footer__items {
    display: flex;
    flex-direction: row;
    cursor: pointer;
}
.footer__item1__icon {
    width: 60px;
    height: 60px;
    color: black;
}
.footer__item2__icon {
    width: 60px;
    height: 60px;
    margin-left: 25px;
    color: black;
}
.footer__item3__icon {
    width: 60px;
    height: 60px;
    margin-left: 25px;
    color: black;
}
.footer__center {
    margin-left: 100px;
}
.footer__center__main {
    font-size: 48px;
    font-weight: normal;
    color: white;
    margin-top: 50px;
    height: 51px;
}
.footer__item:hover svg path {
    fill: #DAA520;
}
.footer__item:active svg path {
    fill: #DAA520;
}
.footer__item:focus svg path {
    outline: 1px solid #7B61FF;
}
.form-contact {
    margin-top: 25px;
}
.footer-form {
    margin-top: 35px;
}
.footer-form__input {
    width: 500px;
    height: 50px;
    margin-top: 25px;
    padding-left: 24px;
    padding-top: 14px;
    background-color: white;
    color: #CACACA;
    font-size: 16px;
    font-weight: normal;
    border: 1px solid #414141;
}
.footer-center__flex {
    display: flex;
    flex-direction: row;
}
.footer-form__input:hover {
    background-color: #DCDCDC;
}
.footer-form__input:focus {
    background-color: #DCDCDC;
}
.footer-form__input:active {
    background-color: #DCDCDC;
}
.footer__center__button {
    background-color: #DAA520;
    font-size: 16px;
    font-weight: bold;
    color: white;
    border: 1px solid #DAA520;
    width: 269px;
    height: 58px;
    margin-top: 32px;
}
.footer__center__button:hover {
    background-color: #1E90FF;
    border: 1px solid #1E90FF;
}
.footer__center__button:active {
    background-color: #1E90FF;
    border: 1px solid #1E90FF;
}
.footer__center__button:focus {
    background-color: #DAA520;
    border: 1px solid #DAA520;
}
.label {
    margin-top: 42px;
    margin-left: 22px;
}
.footer__center__text {
    color: white;
    margin-top: 54px;
    margin-left: 5px;
    font-weight: normal;
}
.footer-right {
    margin-top: 150px;
    margin-right: 75px;
    margin-left: 100px;
}
.footer-right__text {
    color: white;
    font-size: 16px;
    font-weight: normal;
    line-height: 32px;
}
.media320 {
    display: none;
    background-color: #2F4F4F;
}
.media320_logo {
    background-image: url(../PNG/logo.png);
    background-repeat: no-repeat;
    margin-top: 50px;
    width: 120px;
    height: 90px;
    background-size: contain;

}




@font-face {
    font-family: 'Helvetica';
    src: url('../fonts/HelveticaNeueCyr-Bold.woff2') format('woff2'),
      url('../fonts/HelveticaNeueCyr-Bold.woff') format('woff');
    font-display: swap;
    font-weight: 700;
    font-style: normal;
}
@font-face {
    font-family: 'Helvetica';
    src: url('../fonts/HelveticaNeueCyr-Light.woff2') format('woff2'),
      url('../fonts/HelveticaNeueCyr-Light.woff') format('woff');
    font-display: swap;
    font-weight: 300;
    font-style: normal;
}
@font-face {
    font-family: 'Helvetica';
    src: url('../fonts/HelveticaNeueCyr-Medium.woff2') format('woff2'),
      url('../fonts/HelveticaNeueCyr-Medium.woff') format('woff');
    font-display: swap;
    font-weight: 500;
    font-style: normal;
}
@font-face {
    font-family: 'Helvetica';
    src: url('../fonts/Helvetica.woff2') format('woff2'),
      url('../fonts/Helvetica.woff') format('woff');
    font-display: swap;
    font-weight: 400;
    font-style: normal;
}
  