* {
    box-sizing: border-box;
}

a {
    color: inherit;
    text-decoration: none;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

body {
    font-family: Roboto;
    background-color: #ffffff;
}

.all-container {
    max-width: 1024px;
    margin-left: 328px;
    margin-right: 328px;
    margin-top: 53px;
}


/*header*/

.header-container {
    text-align: center;
}

.header-text375 {
    display: none;
}

.header-text {
    margin-top: 26px;
    font-size: 13px;
    font-weight: 400;
    line-height: 16px;
    color: #999999;
}

.header-main {
    margin-top: 24px;
    font-weight: 500;
    font-size: 56px;
    line-height: 72px;
}

.header-nav {
    margin-top: 24px;
    text-align: center;
    margin-bottom: 18px;
}

.header-nav-link:not(:last-child) {
    margin-right: 24px;
}

.header-nav-link {
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    padding-bottom: 18px;
    color: #666666;
}

.header-nav-link:hover {
    color: #5A8CF1;
    border-bottom: 2px solid #5A8CF1;
}


/*main*/

.main-container {
    background-color: #f5f5f8;
    max-width: 1024px;
}

.main-text {
    padding-top: 48px;
    color: #000000;
    font-weight: 500;
    font-size: 24px;
    line-height: 32px;
    text-align: center;
}

.main-post-block {
    margin-left: 48px;
    margin-right: 48px;
    margin-top: 24px;
    display: flex;
    flex-direction: row;
    border-radius: 0px 28px 28px 0px;
    background-color: white;
}

.input {
    margin: 0 auto;
    padding: 0;
    width: 765px;
    height: 56px;
    padding: 16px 16px;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    border: none;
}

.input-button {
    padding: 16px 32px;
    border-radius: 28px;
    color: white;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    background-color: #316FEE;
    border: none;
}

.btn:hover {
    background-color: #0000FF;
}

.btn:active {
    background-color: #316FEE;
}

.btn:focus {
    outline: 3px #FFFFFF;
}

.button-svg375 {
    display: none;
}

.input-check {
    margin-left: 49px;
    margin-top: 19px;
    cursor: pointer;
}

.input-check-text {
    margin-left: 8px;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
}


/*menu*/

.menu-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding-bottom: 48px;
}

.menu-container-block {
    margin-top: 24px;
    margin-left: 24px;
    width: 476px;
    height: 244px;
    border-radius: 16px;
    background-color: white;
}

.menu-first-text {
    font-weight: 400;
    font-size: 13px;
    line-height: 16px;
    padding-left: 24px;
    padding-top: 24px;
    color: #999999;
}

.menu-main-text {
    font-weight: 500;
    font-size: 20px;
    line-height: 28px;
    padding-left: 24px;
}

.menu-second-text {
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: #666666;
    padding-left: 24px;
    padding-right: 128px;
    padding-top: 8px;
}

.menu-check {
    padding-left: 24px;
    padding-top: 16px;
}

.menu-check-end {
    padding-left: 24px;
}

.check-text {
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    padding-right: 128px;
    padding-top: 1px;
}

.svg1 {
    background-image: url(../img/switchBigActive.svg);
    background-repeat: no-repeat;
    margin-top: 17px;
    margin-left: 24px;
    height: 24px;
    cursor: pointer;
}

.svg2 {
    background-image: url(../img/switchBigDisactive.svg);
    background-repeat: no-repeat;
    margin-top: 20px;
    margin-left: 24px;
    height: 24px;
    cursor: pointer;
}

.svg3 {
    background-image: url(../img/switchBigDisactive.svg);
    background-repeat: no-repeat;
    margin-top: 17px;
    margin-left: 24px;
    height: 24px;
    cursor: pointer;
}

.svg4 {
    background-image: url(../img/switchBigDisactive.svg);
    background-repeat: no-repeat;
    margin-top: 17px;
    margin-left: 24px;
    height: 24px;
    cursor: pointer;
}

.svg1:hover {
    background-image: url(../img/switchBigDisactive.svg);
}

.svg2:hover {
    background-image: url(../img/switchBigActive.svg);
}

.svg3:hover {
    background-image: url(../img/switchBigActive.svg);
}

.svg4:hover {
    background-image: url(../img/switchBigActive.svg);
}

.down-check-text {
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    padding-left: 60px;
}

.block-svg1 {
    background-image: url(../img/block1.svg);
    background-repeat: no-repeat;
    background-position-x: 364px;
    background-position-y: 16px;
}

.block-svg2 {
    background-image: url(../img/block2.svg);
    background-repeat: no-repeat;
    background-position-x: 364px;
    background-position-y: 16px;
}

.block-svg3 {
    background-image: url(../img/block3.svg);
    background-repeat: no-repeat;
    background-position-x: 364px;
    background-position-y: 16px;
}

.block-svg4 {
    background-image: url(../img/block4.svg);
    background-repeat: no-repeat;
    background-position-x: 364px;
    background-position-y: 16px;
}


/*footer*/

.footer-svg {
    text-align: center;
    margin-bottom: 48px;
}

@media screen and (max-width: 376px) {
    .all-container {
        max-width: 376px;
        margin: 0;
        padding: 0;
        margin-top: 35px;
    }
    /*header*/
    .header-container {
        max-width: 376px;
        text-align: center;
    }
    .header-main {
        margin-top: 8px;
        font-weight: 500;
        font-size: 32px;
        line-height: 42px;
    }
    .header-text {
        display: none;
    }
    .header-text375 {
        display: block;
        margin-top: 26px;
        font-size: 13px;
        font-weight: 400;
        line-height: 16px;
        color: #999999;
    }
    .header-nav-link:not(:last-child) {
        margin-right: 32px;
    }
    .header-nav-link {
        font-weight: 500;
        font-size: 16px;
        line-height: 24px;
        padding-bottom: 16px;
    }
    /*main*/
    .main-post-block {
        margin: 0;
        margin-left: 16px;
        margin-right: 16px;
        margin-top: 16px;
        background-color: white;
        border-radius: 28px 28px;
    }
    .main-text {
        text-align: left;
        padding-left: 16px;
        padding-top: 32px;
    }
    .input {
        width: 343px;
        height: 56px;
    }
    .input-button {
        padding: 21px 23px;
    }
    .btn-text {
        display: none;
    }
    .button-svg375 {
        display: block;
    }
    .input-check {
        margin: 0;
        padding: 0;
        margin-left: 17px;
        margin-top: 16px;
    }
    .input-check-text {
        margin-left: 2px;
    }
    /*menu*/
    .menu-container {
        max-width: 376px;
        margin: 0;
        padding: 0;
        display: flex;
        flex-direction: column;
        padding-bottom: 32px;
    }
    .menu-container-block {
        margin-top: 24px;
        margin-left: 16px;
        width: 343px;
        height: 272px;
        border-radius: 16px;
        background-color: white;
    }
    .menu-first-text {
        padding-left: 16px;
    }
    .menu-main-text {
        padding-left: 16px;
    }
    .menu-second-text {
        padding-left: 16px;
        padding-right: 16px;
        padding-top: 8px;
    }
    .menu-check {
        padding-left: 16px;
        padding-top: 16px;
    }
    .menu-check-end {
        padding-left: 16px;
    }
    .check-text {
        padding-right: 16px;
        padding-left: 4px;
    }
    .menu-down-check {
        padding-left: 50px;
    }
    .down-check-text {
        font-weight: 400;
        font-size: 14px;
        line-height: 20px;
        padding-left: 8px;
    }
    .svg1 {
        margin-top: 24px;
        margin-left: 16px;
        height: 24px;
    }
    .svg2 {
        margin-top: 24px;
        margin-left: 16px;
        height: 24px;
    }
    .svg3 {
        margin-top: 24px;
        margin-left: 16px;
        height: 24px;
    }
    .svg4 {
        margin-top: 24px;
        margin-left: 16px;
        height: 24px;
    }
    .block-svg1 {
        background-image: url(../img/mBlock1.svg);
        background-repeat: no-repeat;
        background-position-x: 283px;
        background-position-y: 20px;
    }
    .block-svg2 {
        background-image: url(../img/mBlock2.svg);
        background-repeat: no-repeat;
        background-position-x: 283px;
        background-position-y: 20px;
    }
    .block-svg3 {
        background-image: url(../img/mBlock3.svg);
        background-repeat: no-repeat;
        background-position-x: 283px;
        background-position-y: 20px;
    }
    .block-svg4 {
        background-image: url(../img/mBlock4.svg);
        background-repeat: no-repeat;
        background-position-x: 283px;
        background-position-y: 20px;
    }
}

@font-face {
    font-family: 'Roboto';
    font-weight: normal;
    font-style: normal;
    font-weight: 400;
    src: url(../fonts/Roboto-Regular.woff2) format('woff2'), url(../fonts/Roboto-Regular.woff) format('woff');
}

@font-face {
    font-family: 'Roboto';
    font-weight: normal;
    font-style: normal;
    font-weight: 500;
    src: url(../fonts/Roboto-Medium.woff2) format('woff2'), url(../fonts/Roboto-Medium.woff) format('woff');
}